*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.FirtsColumn{
    margin: 30px;
    width: 20%;
    height: 100px;
    background-color: #dddddd; 
    float: left;
}

.LeftSide{
    float: left;
    margin-top: 150px;
    background-color: #dddddd;
    width: 100%;
    height: 500px;
}
.SecondColumn{
    margin-top: 30px;
    float: left;
    width: 50%;
    height: 100px;
    background-color:#dddddd;
}

.Center{
    float: left;
    margin-top: 150px;
    width: 25%;
    height: 300px;
}
.CenterBars{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    border: 1px black solid;
    background-color: #cf161e	;
}
.CenterBigBar{
    float: left;
    margin-top: 150px;
    margin-left: 30px;
    width: 69%;
    height: 330px;
    background-color: #cf161e	
}
.ThirdColumn{
    margin-top: 30px;
    width: 20%;
    height: 100px;
    background-color: #cf161e;
    float: left;
    margin-left: 15px;
}
.RightSide{
    margin-top: 150px;
}
.RightSideBar1, .RightSideBar2{
    width: 39%;
    float: left;
    margin-left: 23px;
}
.RightBar, .RightBar1{
    height: 90px;
    background-color: #aaaaaa;
    border: 1px white solid;
    margin-bottom: 15px;    
}
.LastRBar{
    background-color: #aaaaaa;
    height: 300px;
    margin-top: 600px;
}
.LastCenterBlock{
    width: 100%;
    height: 372;
    background-color:#aaaaaa;
    margin-top: 530px;
}
@media all and (max-width: 1149px) {
    .ThirdColumn{
        margin-top: 820px;
        width: 60%;
        margin-left: 32px;
    }
    .SecondColumn{
        width: 65%;
    }
}
@media all and (max-width: 774px) {
    .SecondColumn{
        width: 68%;
    }
    .CenterBigBar{
        width: 65%;
    }
    .ThirdColumn{
        margin-right: 40px;
        width: 55%;
    }
}
@media all and (max-width: 645px) {
   .ThirdColumn{
    margin-left: 39px;
       width: 90%;
   }

   .SecondColumn{
    width: 90%;
    margin-top: 38px;
    margin-left: 37px;
   }
   .CenterBigBar{
    width: 69%;
}
    .FirtsColumn{
        display: none;
    }
    .LeftSide{
        margin-top: 2200px;
    }
}
@media all and (max-width: 558px) {
    .CenterBigBar{
        width:65%    ;
    }
 }
@media all and (max-width: 446px) {

    .SecondColumn{
        width: 88%;
    }
    .LastCenterBlock{
        width: 98%;
    }
    .ThirdColumn{
        width: 85%;
    }
    .RightSideBar1{
        margin-left: 19px;
    }
}
@media all and (max-width: 344px) {
    .SecondColumn{
        width: 80%;
    }
    .CenterBigBar{
        width: 60%;
    }
    .CenterBars{
        width: 123%;
    }
    .ThirdColumn{
        width: 78%;
    }
    .RightSideBar1{
        width: 80%
    }
    .RightSideBar2{
        width: 80%;
    }
    .LastRBar{
        margin-top: 1000px;
    }
 }


